-- Script para alterar coluna renovavel para boolean
-- Primeiro, remover a constraint de chave estrangeira
ALTER TABLE contratos DROP CONSTRAINT IF EXISTS fk_contrato_contratopai;

-- Depois, alterar o tipo da coluna
ALTER TABLE contratos 
ALTER COLUMN renovavel TYPE boolean 
USING CASE 
    WHEN renovavel = 1 THEN true 
    WHEN renovavel = 0 THEN false 
    ELSE false 
END;
