# Configurações do Banco de Dados (Local)
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=password

# Configurações do Site (Local)
SITE_URL=http://localhost:4200

# Configurações SMTP (Local - opcional)
SMTP_HOST=localhost
SMTP_PORT=587
SMTP_LOGIN=
SMTP_PASSWORD=
SMTP_FROM=noreply@localhost
SMTP_ENABLESSL=false

# Configurações do Frontend (Local)
API_URL=http://localhost:5000/api/  